<%- include("partials/header.ejs"); %>

    <h1>Compose</h1>

   <form method="post" action="/compose"  >
    <div class="mb-3">
        <label for="exampleFormControlInput1" class="form-label" >Title</label>
        <input type="text" class="form-control" name="postTitle" id="exampleFormControlInput1">
      </div>
      <div class="mb-3">
        <label for="exampleFormControlTextarea1" class="form-label" >Content</label>
        <textarea class="form-control" name="postContent" id="exampleFormControlTextarea1" rows="3"></textarea>
      </div>
        <br>
        <button type="submit" class="btn btn-primary">Publish</button>
     
   </form>

<%- include("partials/footer.ejs"); %>
